[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        model=CMCC-CM2-SR5
        initial_year=1960
        final_year=2019
        variable=psl
        region=north-atlantic
        forecast-range=2-9
        season=DJFM

[scheduling]
    [[dependencies]]
        graph = """sel_region => calc_anoms
            calc_anoms => merge_time"""

[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = slurm
            execution time limit = PT10M
        [[[directives]]]
            --partition = short-serial
    [[sel_region]]
        script = """module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        bash submit-all-multi-model.sel-region-forecast-range-season.bash ${cylc.parameters.model} ${cylc.parameters.initial_year} ${cylc.parameters.final_year} ${cylc.parameters.variable} ${cylc.parameters.region} ${cylc.parameters.forecast-range} ${cylc.parameters.season}"""
    [[calc_anoms]]
        script = """module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        bash submit-all-multi-model.calc-anoms.bash ${cylc.parameters.model} ${cylc.parameters.variable} ${cylc.parameters.region} ${cylc.parameters.forecast-range} ${cylc.parameters.season}"""
    [[merge_time]]
        script = """module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        bash submit-all-multi-model.mergetime.bash ${cylc.parameters.model} ${cylc.parameters.variable} ${cylc.parameters.region} ${cylc.parameters.forecast-range} ${cylc.parameters.season}"""








//     [[get_counties]]
//         script = """module load jaspy
// cd ${CYLC_SUITE_RUN_DIR}/
// python create-counties-file.py"""
//     [[process<county>]]
//         script = """module load jaspy
// cd ${CYLC_SUITE_RUN_DIR}/
// python extract-annual-max-series.py ${CYLC_TASK_PARAM_county}"""
//     [[plot]]
//         script = """module load jaspy
// cd ${CYLC_SUITE_RUN_DIR}/
// python plot-county-temps.py"""
