[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        model=1,2,3,4,5,6,8,9,10,11,12
        initial_year=1960
        final_year=2019
        variable="tas"
        region="global"
        forecast_range="2-9"
        season="DJFM"
        experiment="dcppA-hindcast"

[scheduling]
    [[dependencies]]
        graph = """
        sel_region<model><initial_year><final_year><variable><region><forecast_range><season><experiment> => calc_model_mean_state<model><variable><region><forecast_range><season>
        calc_model_mean_state<model><variable><region><forecast_range><season> => calc_anoms<model><initial_year><final_year><variable><region><forecast_range><season>
        calc_anoms<model><initial_year><final_year><variable><region><forecast_range><season> => merge_time<model><variable><region><forecast_range><season>
        """


[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = slurm
            execution time limit = PT10M
        [[[directives]]]
            --partition = short-serial
    [[sel_region<model><initial_year><final_year><variable><region><forecast_range><season><experiment>]]
        script = """module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        bash submit-all-multi-model.sel-region-forecast-range-season.bash ${CYLC_TASK_PARAM_model} ${CYLC_TASK_PARAM_initial_year} ${CYLC_TASK_PARAM_final_year} ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_region} ${CYLC_TASK_PARAM_forecast_range} ${CYLC_TASK_PARAM_season} ${CYLC_TASK_PARAM_experiment}"""
    [[calc_model_mean_state<model><variable><region><forecast_range><season>]]
        script = """module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        bash submit-all-multi-model.calc-anoms-model-mean-state.bash ${CYLC_TASK_PARAM_model} ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_region} ${CYLC_TASK_PARAM_forecast_range} ${CYLC_TASK_PARAM_season}"""
    [[calc_anoms<model><initial_year><final_year><variable><region><forecast_range><season>]]
        script = """module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        bash submit-all-multi-model.calc-anoms-sub-anoms.bash ${CYLC_TASK_PARAM_model} ${CYLC_TASK_PARAM_initial_year} ${CYLC_TASK_PARAM_final_year} ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_region} ${CYLC_TASK_PARAM_forecast_range} ${CYLC_TASK_PARAM_season}"""
    [[merge_time<model><variable><region><forecast_range><season>]]
        script = """module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        bash submit-all-multi-model.mergetime.bash ${CYLC_TASK_PARAM_model} ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_region} ${CYLC_TASK_PARAM_forecast_range} ${CYLC_TASK_PARAM_season}"""