[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        model="EC-Earth3"
        variable="psl"
        region="global"
        forecast_range="2-8"
        season=DJFM
        experiment="dcppA-hindcast"
        pressure_level="100000"

[scheduling]
    [[dependencies]]
        graph = """
        sel_region<model><variable><region><forecast_range><season><experiment> => calc_model_mean_state<model><variable><region><forecast_range><season><pressure_level>
        calc_model_mean_state<model><variable><region><forecast_range><season><pressure_level> => calc_anoms<model><variable><region><forecast_range><season><pressure_level>
        calc_anoms<model><variable><region><forecast_range><season><pressure_level> => merge_time<model><variable><region><forecast_range><season><pressure_level>
        """


[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = slurm
        [[[directives]]]
            --partition = short-serial
    [[sel_region<model><variable><region><forecast_range><season><experiment>]]
        script = """module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        sbatch --job-name=sel_region test-sel-region-array.bash ${CYLC_TASK_PARAM_model} ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_region} ${CYLC_TASK_PARAM_forecast_range} ${CYLC_TASK_PARAM_season} ${CYLC_TASK_PARAM_experiment}"""
        [[[job]]]
            execution time limit = PT30M
    [[calc_model_mean_state<model><variable><region><forecast_range><season><pressure_level>]]
        script = """module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        bash submit-all-multi-model.calc-anoms-model-mean-state.bash ${CYLC_TASK_PARAM_model} ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_region} ${CYLC_TASK_PARAM_forecast_range} ${CYLC_TASK_PARAM_season} ${CYLC_TASK_PARAM_pressure_level}"""
        [[[job]]]
            execution time limit = PT30M
    [[calc_anoms<model><variable><region><forecast_range><season><pressure_level>]]
        script = """module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        sbatch test-calc-anoms-sub-anoms-array.bash ${CYLC_TASK_PARAM_model} ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_region} ${CYLC_TASK_PARAM_forecast_range} ${CYLC_TASK_PARAM_season} ${CYLC_TASK_PARAM_pressure_level}"""
        [[[job]]]
            execution time limit = PT30M
    [[merge_time<model><variable><region><forecast_range><season><pressure_level>]]
        script = """module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        sbatch test-mergetime-array.bash ${CYLC_TASK_PARAM_model} ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_region} ${CYLC_TASK_PARAM_forecast_range} ${CYLC_TASK_PARAM_season} ${CYLC_TASK_PARAM_pressure_level}"""
        [[[job]]]
            execution time limit = PT30M
